/* app/globals.css */
@import "tailwindcss";
@tailwind utilities;

:root {
  --color-primary: 255, 255, 255;    
  --color-secondary: 4, 56, 115;     
  --color-accent: 79, 156, 249;      
  --color-highlight: 255, 228, 146;  
}

/* body {
  transform: scale(0.75);
  transform-origin: top left;
  width: 133.33%;  
  height: 133.33%;
} */

/* background colors */
.bg-primary {
    @apply bg-[rgb(var(--color-primary))];
}

.bg-secondary {
    @apply bg-[rgb(var(--color-secondary))];
}

.bg-accent {
    @apply bg-[rgb(var(--color-accent))];
}

.bg-highlight {
    @apply bg-[rgb(var(--color-highlight))];
}
/* background colors */

/* text color */
.text-primary{
    @apply text-[rgb(var(--color-primary))];
}

.text-secondary{
    @apply text-[rgb(var(--color-secondary))];
}

.text-highlight{
    @apply text-[rgb(var(--color-highlight))];
}
/* text color */

/* border color */
.border-highlight{
    @apply border-[rgb(var(--color-highlight))];
}
/* border color */

/* text size */
.text-h{
    @apply text-[64px];
}

.text-price{
    @apply text-[34px];
}

.text-button{
    @apply text-[24px];
}

.text-p{
    @apply text-[18px];
}
/* text size */